

 <div class="container">
    <div class="general-buttons">
        <button [routerLink]="['/main']">ראשי</button>
        <button [routerLink]="['/todo']">משימות</button>
        <button [routerLink]="['/sports-and-hobbies']">ספורט ופנאי</button>
        <button [routerLink]="['/personal-area']">איזור אישי</button>
    </div>
    
    
    <div class="main">
        <div class="header">
            <div id="path">
               מטרות
            </div>
        </div>
        <h3>מטרות: </h3>
        <div class="assignments">
            <div *ngFor="let goal of goals" [routerLink]="['/goals', goal.id]"><h4>{{goal.title}}, {{goal.id}}</h4></div>
        </div>
        <button (click)="addGoal()">הוסף מטרה&nbsp;<i class="fas fa-plus"></i></button>

    
    </div>
</div>