<div class="container">

    <div class="general-buttons">
        <button [routerLink]="['/main']">ראשי</button>
        <button [routerLink]="['/todo']">משימות</button>
        <button [routerLink]="['/sports-and-hobbies']">ספורט ופנאי</button>
        <button [routerLink]="['/personal-area']">איזור אישי</button>
    </div>      
    
    <div class="main"><!--for todo-->
        <div class="header"><!---->
            <div id="path">
                <h3> ספורט ותחביבים</h3>
            </div>
        </div>
        <div class="assignments">
            <div class="sports-div">מדיטציה</div>
            <div class="sports-div">ריצה</div>
            <div class="sports-div">טיולים</div>
            <div class="sports-div">נגינה על כינור</div>
        </div>
    
        <button id="add">הוסף תחום&nbsp;<i class="fas fa-plus"></i></button>
    
    </div>
</div>
