* { 
    text-align: right;
direction: rtl; }

.container{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.mainDiv{
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgb(144, 35, 177);
    height: 25%;
    width: 90%;
    margin: 5%;
    padding: 5%;
    text-align: right;
    font-family: monospace;
}

.mainDiv > h1 { 
    font-family: 'Courier New', Courier, monospace;
}

.circle{
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid rgb(144, 35, 177);
    height: 25%;
    width: 90%;
    margin: 5%;
    padding: 20%;
    text-align: right;
}

.circle > h1 {
    font-family: fantasy;
}

.btn{
    width: 10%;
}

.todoHeader{
    text-decoration: underline;
}