

<div class="container">
    <div class="general-buttons">
        <button (click)="back()">ראשי</button>
    </div>
    
    <div class="main">
        <div class="header">
            <div id="path">
                משימות 
            </div>
            <div id="event-date">
                תאריך יעד
            </div>
        </div>
        <h3>משימות:</h3>
        <div class="assignment" *ngFor="let todo of userTodos"> 
            <app-todo [todo]="todo">
                <h5>{{todo.path}}</h5>
                <h5>{{todo.description}}</h5>
                <h5>משימות משנה:</h5>
                <div class="assignment" *ngFor="let sec of todo.secondaryTodos">
                    <app-todo [todo]="sec"></app-todo>
                </div>
            </app-todo>  
        </div>
        <button [routerLink]="['./0/edit']" >הוסף משימה&nbsp;<i class="fas fa-plus"></i></button>
    </div>
</div>
