

<div class="container">
    <div class="general-buttons">
        <button [routerLink]="['/main']">ראשי</button>
        <button [routerLink]="['/goals']">מטרות</button>
        <button [routerLink]="['/sports-and-hobbies']">ספורט ופנאי</button>
        <button [routerLink]="['/personal-area']">איזור אישי</button>
    </div>
    
    <div class="main">
        <div class="header">
            <div id="path">
                משימות 
            </div>
            <div id="event-date">
                תאריך יעד
            </div>
        </div>
        <h3>משימות:</h3>
        <div *ngIf="allTodos" class="assignments">
            <div class="assignment" *ngFor="let todo of allTodos" [routerLink]="['/todo', todo.id]">{{todo.title}}
            &nbsp; <span>{{todo.event}}</span>
            </div>
        </div>
        <button [routerLink]="['./0/edit']" >הוסף משימה&nbsp;<i class="fas fa-plus"></i></button>
    </div>
</div>