.form-input{
    padding:1%;
}

.container{
    width: fit-content;
    border: 1px solid black;
    border-radius: 2%;
    padding:10%;
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


button, input{
    cursor: default;
    border-radius: 5%;
    margin: 3%;
} 
button:hover, input:hover { background-color: rgb(117, 113, 107) }
