


<div class="container">
    <div class="general-buttons">
        <a [routerLink]="['/todos']">חזרה</a>
       
    </div>
    
    
    <div class="main"><!--for todo-->
        <div class="header"><!---->
            <div id="path">
                <h3> ספורט ותחביבים</h3>
            </div>
        </div>
        <div class="assignments">
            <div class="sports-div">מדיטציה</div>
            <div class="sports-div">ריצה</div>
            <div class="sports-div">טיולים</div>
            <div class="sports-div">נגינה על כינור</div>
        </div>

        <button id="add">הוסף תחום&nbsp;<i class="fas fa-plus"></i></button>
    
    </div>
</div>