

 <div class="container">
    
    <div class="main">

        <div class="header">
            <div id="path">
               מטרות
            </div>
        </div>

        <div class="goals" *ngIf="userGoals">
            <h3>מטרות: </h3>
            <div class="assignment" *ngFor="let goal of userGoals;let i = index"> 
                <div class="main">
                    <h4 (click)="open(i)">{{goal.title}}&nbsp;<span>{{goal.event}}</span></h4>
                    <app-goal [goal]="goal" *ngIf="currentGoal == i"  >
                    </app-goal>
                </div>
                  
            </div>
        </div>

        <button [routerLink]="['./0/edit']" >הוסף מטרה&nbsp;<i class="fas fa-plus"></i></button>
    
    </div>

</div>