

 <div class="container">
    <div class="general-buttons">
        <button [routerLink]="['../']">ראשי</button>
    </div>
    
    
    <div class="main">
        <div class="header">
            <div id="path">
               מטרות
            </div>
        </div>
        <h3>מטרות: </h3>
        <div class="assignment" *ngFor="let goal of userGoals"> 
            <app-goal [goal]="goal">
                <div goal-details>
                    <h5>{{goal.path}}</h5><br>
                    <h5>{{goal.description}}</h5>
                </div>
                <div goal-sec-goals *ngIf="goal.secondaryGoals">
                    <h5>מטרות משנה:</h5>
                    <div class="assignment" *ngFor="let sec of goal.secondaryGoals">
                        <app-goal [goal]="sec"></app-goal>
                    </div>
                </div>
            </app-goal>  
        </div>

        <button [routerLink]="['./0/edit']" >הוסף מטרה&nbsp;<i class="fas fa-plus"></i></button>

    
    </div>
</div>