
<kendo-splitter>
    <kendo-splitter-pane [collapsible]="true" size="60%" min="40%">
        <div id="calendar">
            <app-calendar></app-calendar>
        </div>
    </kendo-splitter-pane>
    <kendo-splitter-pane min="15%" [collapsible]="true">
        <div id="main">
            <div id="nav-bar">
                <div id="welcome-back">
                    <h5>Hello {{currentUser.name}}</h5>
                    <button (click)="changeName()">Change name</button>
                </div>
                <div id="main-page">
                    <button [routerLink]="['./']">עמוד ראשי</button>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </kendo-splitter-pane>
</kendo-splitter>

