
<div class="container">
    <div class="general-buttons">
        <a [routerLink]="['/todos']">חזרה</a>
        <button>ערוך&nbsp;<i class="fas fa-pencil-alt"></i></button>
    </div>
    
    
    <div class="main"><!--for todo-->
        <div class="header"><!---->
            <div id="path">
                {{todo.title}} <!--FROM WHERE??-->
            </div>
            <div id="event-date"><!---->
                {{todo.event}}
            </div>
        </div>
        <div class="assignments">
            <h3>משימות משנה:</h3>
            <div *ngFor="let secTodo of todo.secondaryTodos">{{secTodo}}</div>
            <button>add secondary assignment</button>
        </div>
    
    </div>
</div>