<div class="general-buttons">
    <button [routerLink]="['../../']">חזרה</button>
</div>


<form [formGroup]="goalForm" >
    
    
    <div class="container">

    <h1>{{header}}</h1>

    <label for="male">תחום:</label>
    <input type="text" formControlName="field">

    <label for="male">כותרת:</label>
    <input type="text" formControlName="title">

    <label for="male">תיאור:</label>
    <input type="text" formControlName="description">




        <button (click)="addRemove()">{{addRemoveText}}</button>
        <div *ngIf="ShowWhenForm"  formGroupName="when">
            <h4>יעדים:</h4>
            <div class="formGroup">
                <label for="whenGeneral"> יעד כללי:</label>
                <input type="text" formControlName="whenGeneral">
                <input type="date" formControlName="whenGeneralDate">
            </div>
            <div class="formGroup">
                <label for="whenMonth"> יעד חודשי:</label>
                <input type="text" formControlName="whenMonth">
                <input type="date" formControlName="whenMonthDate">
            </div>
            <div class="formGroup">
                <label for="whenWeek"> יעד שבועי:</label>
                <input type="text" formControlName="whenWeek">
                <input type="date" formControlName="whenWeekDate">
            </div>
            <div class="formGroup">
                <label for="whenDay"> יעד יומי:</label>
                <input type="text" formControlName="whenDay">
                <input type="date" formControlName="whenDayDate">
            </div>
        </div>

        <button (click)="onSubmit()" [disabled]="!goalForm.valid">צור</button>

    </div>
</form>