/* sections css*/
#main{
    height: 100%;
    background-color: blue;
    background-image: linear-gradient(to top left, blue, white);
    color: white;
}
.container{
    padding:5%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.general-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
button, input{
    cursor: default;
    border-radius: 3px;
    width: fit-content;
    margin: 2%;
}
button:hover, input:hover{ background-color: rgb(117, 113, 107); }


input[formControlName="description"]{
    width: 100%;
    height: fit-content;
}

*{ direction:rtl}

