/* sections css*/

.container{
    padding:5%;
    text-align: right;
}
.general-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    border-radius: 3px;
    width: fit-content;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    padding:5%;
    display: flex;
    flex-direction: column;
}

h5{
    display: inline;
}

*{ direction:rtl}

.assignments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment{
    border: 2px solid rgb(241, 168, 85);
    border-radius: 10%;
    width: fit-content;
    margin: 2%;
    padding: 3%;
}

.assignment:hover{
    background-color: rgb(241, 168, 85);
    cursor: pointer;
}

/* sports section*/

.sport-assignments{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  25% 25% 25% 25%;
    grid-gap: -5px;
}

.sports-div, #add{
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 10%;
    border: 1px solid black;
}
.sports-div, .assignments, #path{
    margin: 5%;
}

