/* sections css*/

.container{
    padding:5%;
    text-align: right;
}
.general-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    border-radius: 3px;
    width: fit-content;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    padding:5%;
    display: flex;
    flex-direction: column;
}

*{ direction:rtl}

.assignments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assignment{
    border: 2px solid rgb(241, 168, 85);
    border-radius: 50%;
    width: fit-content;
    margin: 2%;
    padding: 3%;
}

.assignment:hover{
    background-color: rgb(241, 168, 85);
    cursor: pointer;
}

.sports-div, #add{
    border-radius: 50%;
    width: fit-content;
    padding: 5%;
    border: 1px solid black;
}
.sports-div, .assignments, #path{
    margin: 5%;
}

