<h1>goal-details</h1>


    <h4>id: {{currentGoal.id}}</h4>
    <h4>path: {{currentGoal.path}}</h4>
    <h4>title: {{currentGoal.title}}</h4>
    <h4>description: </h4><p>{{currentGoal.description}}</p>
    <h4>destination: {{currentGoal.destination}}</h4>
    <h4 *ngIf="currentGoal.when.whenGeneral">when: {{currentGoal.when.whenGeneral}}</h4>
    <h4 *ngIf="currentGoal.when.whenDay">when: {{currentGoal.when.whenDay}}</h4>
    <h4 *ngIf="currentGoal.when.whenWeek">when: {{currentGoal.when.whenWeek}}</h4>
    <h4 *ngIf="currentGoal.when.whenMonth">when: {{currentGoal.when.whenMonth}}</h4>
    <h4>secondary goals:</h4>
    <ul>
        <li *ngFor="let secGoal of currentGoal.secondaryGoals" [routerLink]="['/goals', secGoal.id]">{{secGoal.title}}</li>
    </ul>
 