<div id="main">


    <div class="general-buttons">
        <button [routerLink]="['../../']">חזרה</button>
    </div>


    <form [formGroup]="goalForm" >
        
        
        <div class="container">
            <h1>{{header}}</h1>

            <label for="field">תחום:</label>
            <input type="text" formControlName="field">

            <label for="title">כותרת:</label>
            <input type="text" formControlName="title">

            <label for="description">תיאור:</label>
            <input type="text" formControlName="description">

            <label for="event">תיאור:</label>
            <input type="date" formControlName="event">

            <button (click)="onSubmit()" [disabled]="!goalForm.valid">צור</button>
        </div>
    </form>

</div>
