<div (click)="toggleContent()" class="main">
    <h4>{{todo.title}}&nbsp; <span>{{todo.event}}</span></h4>
    <ng-content *ngIf="visible"></ng-content>
</div>

<!-- 
<div class="container">
    <div class="general-buttons">
        <a (click)="back()">חזרה</a>
        <button>ערוך&nbsp;<i class="fas fa-pencil-alt"></i></button>
    </div>
    
    
    <div class="main">
        <div class="header">
            <div id="path">
                <h4>{{todo.path}} <i class="fas fa-chevron-left"></i> {{todo.title}} </h4> 
            </div>
           
        </div>
        <h3>{{todo.title}} - משימות משנה:</h3>
        <div class="assignments">
            <div class="assignment" *ngFor="let secTodo of todo.secondaryTodos" [routerLink]="['/todo', secTodo.id]">{{secTodo.title}}</div>
        </div>
        <button>הוסף משימת משנה&nbsp;<i class="fas fa-plus"></i></button>
    
    </div>
</div>
 -->
