

<div class="container">
    <div class="general-buttons">
        <button [routerLink]="['/main']">ראשי</button>
        <button [routerLink]="['/goals']">מטרות</button>
        <button [routerLink]="['/sports-and-hobbies']">ספורט ופנאי</button>
        <button [routerLink]="['/personal-area']">איזור אישי</button>
    </div>

    <!--]="['/todos']"><h1>משימות</h1></div></div>
    <div class="mainDiv"><div [routerLink]="['/goals']"><h1>מטרות</h1></div></div>
    <div class="mainDiv"><div [routerLink]="['/sports-and-hobbies']"><h1>ספורט ופנאי</h1></div></div>
    <div class="mainDiv"><div [routerLink]="['/personal-area']"><-->
    
    
    <div class="main"><!--for todo-->
        <div class="header"><!---->
            <div id="path">
                משימות <!--FROM WHERE??-->
            </div>
            <div id="event-date"><!---->
                תאריך יעד?
            </div>
        </div>
        <h3>משימות:</h3>
        <div class="assignments">
            <div class="assignment" *ngFor="let todo of allTodos.todos" [routerLink]="['/todo', todo.id]">{{todo.title}}</div>
        </div>
        <button (click)="addTodo()">הוסף משימה&nbsp;<i class="fas fa-plus"></i></button>

    
    </div>
</div>