<div class="goal-details">
    <h5>{{goal.path}}</h5><br>
    <h5>{{goal.description}}</h5>
</div>

<div class="goal-sec-goals" *ngIf="goal.subGoals">
    <h5>מטרות משנה:</h5>
    <div class="sub-assignment" 
    *ngFor="let goal of goal.subGoals;let i = index"> 
        <div class="main" >
            <h4 (click)="open(i)">{{goal}}&nbsp;<span>{{goal.event}}</span></h4>
            <app-goal [goal]="goal" *ngIf="currentSubGoal == i"  >
            </app-goal>
        </div>
    </div>
</div>

<button (click)="toggleEditForm()">{{editButtonText}}</button>

<app-edit-goal *ngIf="showEditGoal"></app-edit-goal>

